@font-face {
    font-family: TaipeiSansTCBeta;
    src: url("../font/TaipeiSansTCBeta-Regular.ttf") format("opentype");
}
html,body{
    width:100%;
}

body{
    font-family: TaipeiSansTCBeta;
    background-color: #FFFFFF;
    .dct-nav{
        // height: 100px;
        padding: 0;
        background-color: #E9C6BB;
        color: #615B5C !important;
        box-shadow: 0px 1px 10px 1px #242424;
        -webkit-box-shadow: 0px 1px 10px 1px #242424;
        -moz-box-shadow: 0px 1px 10px 1px #242424;
        -o-box-shadow: 0px 1px 10px 1px #242424;
        z-index: 1;
        .dct-nav-container{
            max-width: 100%;
            margin: 0 10px;
        }
        .dct-logo{
            height: 65px;
        }
        .dct-menu{
            width: 80px;
            height: 80px;
        }
        .dct-link{
            align-items: center !important;
            margin: 0 5px;
            padding: 25px;
            padding-left: 10px !important;
            padding-right: 10px !important;
            color: #615B5C;
            @media (max-width:992px) {
                border-radius: 0px;
            }
            &:hover{
                text-align: center;
                transition: ease-in-out 0.5s;
                background-color: #D2A192;
                @media (max-width:992px) {
                    border-radius: 0px;
                }
            }
        }
    }
    header{
        .dct-overlay{
            background-color: #FBEEEB !important;
            opacity: 1 !important;
        }
        .dct-video{
            width: 100%;
            height: 100%;
        }
    }
    .dct-footer{
        background-color: #FFFFFF;
        .dct-copyright{
            color:#615B5C;
        }
    }
}
a{
    color: currentColor;
}