* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none; width: 25%; float: left;margin: 4%;}
img {vertical-align: middle;border:0px solid;border-radius: 50%;}

.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  background-color: black;
}

.subTitleText{
  font-size:large;
}

.memberIntro{
  margin-top: 10%;
}

.projectPlace{
  max-width: 100%;
  height: 500px;
  position: relative;
  margin: auto;
  background-color: black;
}

.pdemo{
  color: aliceblue;
}

.projectContext{
  max-width: 100%;
  position: relative;
  margin: auto;
}

.pContext{
  font-size:medium;
}

.titleIntro{
  max-width: 72%;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}
.subTitle{
  max-width: 50%;
  position: relative;
  margin-bottom: 5%;
}

.titleMember{
  max-width: 72%;
  position: relative;
  margin-top: 10%;
  margin-bottom: 5%;
}

.title{
  max-width: 72%;
  position: relative;
  margin-bottom: 5%;
}
 p{
  font-size: 30px;
 }

 p.name{
   font-weight: bold;
   margin:auto;
   text-align: center;
 }

 p.nameIntro{
  margin:auto;
  font-size: 25px;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: relative;
  top: 5%;
  max-width: 14%;
  padding: 16px;
  color: aliceblue;
  font-size: 70px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover{
  text-decoration: none;
  color: aliceblue;
}

.next {
  right: 1%;
  border-radius: 3px 0 0 3px;
}
.prev {
  right: 90%;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.3}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.3}
}

/*平板*/
@media only screen and (max-width: 768px) {
  .mySlides {display: none; width: 70%; margin-left: 15%;margin-right: 10%;position: relative;}
  img {vertical-align: middle;}

  
  .prev, .next {
    cursor: pointer;
    position: relative;
    top: 30%;
    max-width: 14%
    padding: 16px;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: -8%;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    right: 85%;
  }


/*手機*/
@media only screen and (max-width: 576px) {
  .mySlides {display: none; width: 70%; margin-left: 15%;margin-right: 10%;position: relative;}
  img {vertical-align: middle;}

  p{
    font-size: 25px;
  }
  .prev, .next {
    cursor: pointer;
    position: relative;
    max-width: 14%
    padding: 16px;
    margin-top: 45%;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 8%;
    border-radius: 3px 0 0 3px;
  }
  .prev {
    right: 70%;
  }
}