* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none; width: 31.3333333333%; float: left;margin: 1%;}
.center{width: 41.9999999999%;}
.aside{width: 26%;}
img {vertical-align: middle;}

img:hover{cursor: pointer;}

.img-aside{margin-top: 50px;}

.slideshow-container {
  max-width: 72%;
  position: relative;
  margin: auto;
  
}

.title{
  max-width: 72%;
  position: relative;
  margin-bottom: 5%;
}
 p{
  font-size: 30px;
 }

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 41%;
  max-width: 14%;
  padding: 16px;
  /*color: aliceblue;*/
  font-size: 70px;
  /*transition: 0.6s ease;*/
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover{
  text-decoration: none;
  /*color: aliceblue;*/
  color: transparent;

}

.next {
  /*right: -1%;*/
  /*left: 83%;*/
  /*right: -84%;*/
  right: -4%;
  border-radius: 3px 0 0 3px;
  background: -webkit-linear-gradient(right,aliceblue,rgb(234, 205, 211));
  background: -o-linear-gradient(left,aliceblue,rgb(234, 205, 211));
  background: -moz-linear-gradient(left,aliceblue,rgb(234, 205, 211));
  background: linear-gradient(to left,aliceblue,rgb(234, 205, 211));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.prev {
  left: -4%;
  background: -webkit-linear-gradient(left,rgb(234, 205, 211),aliceblue);
  background: -o-linear-gradient(right,rgb(234, 205, 211),aliceblue);
  background: -moz-linear-gradient(right,rgb(234, 205, 211),aliceblue);
  background: linear-gradient(to right,rgb(234, 205, 211),aliceblue);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade;
  animation-duration: 0s;
  animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.3}
}

@keyframes fade {
  from {opacity: 1} 
  to {opacity: 0.3}
}


/*平板*/
@media only screen and (max-width: 768px) {
  /*.mySlides {display: none; width: 70%; margin-left: 15%;margin-right: 10%;position: relative;}*/
  :root{
    --origin-height:0px;
    --origin-width:0px;
    --clip-width:0px;
    --dis:0px;
  }
  .mySlides {display: none; width: 31.3333333333%; float: left;margin: 1%;}
  .center{width: 61.9999999999%;}
  .aside{width: 16%;overflow: hidden;}
  .aside-left{margin: 0%;
              margin-top: 1%;
              margin-right: 1%;
              margin-bottom: 1%;
              margin-left: 0%;
              position: relative;
              /*background: -webkit-linear-gradient(right,rgba(0, 0, 0, 0.3),aliceblue);
              background: -o-linear-gradient(left,rgba(0, 0, 0, 0.3),aliceblue);
              background: -moz-linear-gradient(left,rgba(0, 0, 0, 0.3),aliceblue);
              background: linear-gradient(to left,rgba(0, 0, 0, 0.3),aliceblue);*/
            }
  .aside-right{margin: 0%;
              margin-top: 1%;
              margin-right: 0%;
              margin-bottom: 1%;
              margin-left: 1%;
            }
  
  .img-aside{margin-top: 0px;}  
  
  .inside-left{
    margin-top: 55%;
    background: -webkit-linear-gradient(right,rgba(0, 0, 0, 0.3),aliceblue);
    background: -o-linear-gradient(left,rgba(0, 0, 0, 0.3),aliceblue);
    background: -moz-linear-gradient(left,rgba(0, 0, 0, 0.3),aliceblue);
    background: linear-gradient(to left,rgba(0, 0, 0, 0.3),aliceblue);
  }

  .inside-right{
    margin-top: 55%;
    background: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.3),aliceblue);
    background: -o-linear-gradient(right,rgba(0, 0, 0, 0.3),aliceblue);
    background: -moz-linear-gradient(right,rgba(0, 0, 0, 0.3),aliceblue);
    background: linear-gradient(to right,rgba(0, 0, 0, 0.3),aliceblue);
  }


  img {vertical-align: middle;}

  .img-aside{/*margin-top: 55%;*/mix-blend-mode: overlay;}
  
  /*.img-left{
      background: -webkit-linear-gradient(right,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
      background: -o-linear-gradient(left,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
      background: -moz-linear-gradient(left,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
      background: linear-gradient(to left,rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
  }*/

  .slideshow-container {
    max-width: 72%;
    position: relative;
    margin: auto;
    margin-top: -15%;
    /*margin-bottom: 50%;*/
  }
  
  .prev, .next {
    cursor: pointer;
    position: relative;
    max-width: 14%;
    padding: 16px;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  .next {
    /*right: -8%;*/
    /*left: 80%;*/
    /*right: -80%;*/
    /*right: -79%;*/
    
    /*left: -5%;*/
    right: -8%;/*正確*/
    /*right: -50%;*/ /*測試*/
    border-radius: 3px 0 0 3px;
  }
  .prev {
    /*right: 5%;*/
    /*right: 85%;*/
    left: -5%;
  }
  .textshow-container{
    max-width: 90%;
    position: relative;
    margin: auto;
  }
  .showText{
    font-size: 15px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden
  }
  .group{
    text-align: center;
  }

  .aclearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .bclearfix::before {
    content: "";
    clear: both;
    display: table;
  }
  @-webkit-keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
  }

/*手機*/
@media only screen and (max-width: 576px) {
  /*.mySlides {display: none; width: 70%; margin-left: 13%;margin-right: 10%;position: relative;}*/
  


  img {vertical-align: middle;}
  .slideshow-container {
    max-width: 72%;
    position: relative;
    margin: auto;
    margin-top: -5%;
  }
  p{
    font-size: 25px;
  }
  .prev, .next {
    cursor: pointer;
    position: relative;
    max-width: 16%;
    padding: 16px;
    /*margin-top: 45%;*/
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    
  }
  .next {
    /*right: -65%;*/
    /*left: 65%;*/
    /*left: 75%;*/
    /*right: -5%;*/
    position: absolute;
    /*right: 1%;*/
    border-radius: 3px 0 0 3px;
    
  }
  .prev {
    /*right: 70%;*/
    position: absolute;
    /*left: -1%;*/
    /*right: 1%;*/
    /*left: -1%;*/
  }
}
}